[Unit]
Description=Periodically check for Let's Encrypt's certificates renewal

[Timer]
OnCalendar=*-*-* {{ certbot_auto_renew_hour }}:{{ certbot_auto_renew_minute }}:00
Persistent=true

[Install]
WantedBy=timers.target
